body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(71, 94, 87);
    color: #eee;
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

main {
    margin-top: 91px;
    padding: 10px;
    display: inline-block;
    margin: auto;
}

main {
    margin-top: 91px;
    padding: 10px;
    display: inline-block;
    margin: auto;
}

fieldset {
    padding: 20px;
    border-radius: 5px;
}

.div_btn {
    margin-top: 10px;
}

.btn {
    padding: 5px 10px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(71, 94, 87);
    color: #eee;
    text-align: center;
}